body {
	mmin-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

.main-header {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: 56px;
	padding-left: 6%;
	padding-right: 6%;
	color: #000000;
	background-color: #ffffff;
	
	background-color: lightyellow;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 138px;
	height: 70px;
}

.header-logo img {
	width: 138px;
	height: 70px;
}

.site-nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.site-nav li {
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 2.8%;
	outline: 1px solid red;
}

.site-nav li:nth-child(2n) {
	margin-right: auto;
	outline: 1px solid red;
}

.site-nav li:nth-child(3n),
.site-nav li:nth-child(4n) {
	text-align: right;
	outline: 1px solid green;
	margin-right: 0;
}

.site-nav li:nth-child(4n) {
	margin-left: 2.8%;
}

.site-nav .nav-link {
	font-weight: bold;
	line-height: 26px;
	
	color: #000000;
	text-decoration: none;
}

.site-nav .nav-link:hover {
	color: #81b3d2;
}

.site-nav .nav-link:active {
	opacity: 0.3;
}

.site-navigation-current .nav-link {
	color: #766357;
}

.welcome-logo {
	padding-top: 76px;
	padding-bottom: 74px;
	text-align: center;
	background-color: #6c514d;
	background-image: url("../img/mask.png"), url("../img/background-photo.jpg");
	background-position: bottom 0 left 0, 50% 21.3%;
	background-size: 100% 57px, 100%;
	background-repeat: no-repeat, no-repeat;
}

.welcome-logo img {
	width: 458px;
	height: 352px;
}

.welcome-slogan {
	padding-top: 61px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #ffffff;
	background-color: aquamarine;
}

.welcome-slogan h2 {
	margin: 0;
	margin-bottom: 27px;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	font-size: 21px;
	line-height: 26px;
	letter-spacing: 0.1px;
	color: #000000;
}

.welcome-slogan p {
	margin: 0 auto;
	max-width: 576px;
	line-height: 26px;
	letter-spacing: 0.1px;
}

.feature {
	box-sizing: border-box;
	display: flex;
	min-height: 256px;
	width: 100%;
}

.feature-item {
	box-sizing: border-box;
	width: 33.33%;
	padding-top: 48px;
	padding-bottom: 35px;
	padding-left: 47px;
	padding-right: 47px;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}

.feature-item h3 {
	margin: 0 auto 23px;
	max-width: 180px;
	font-size: 21px;
	letter-spacing: 0.3px;
}

.feature-item p {
	margin: 21px auto 0;
	ppadding-left: 53px;
	ppadding-right: 53px;
	max-width: 305px;
	lletter-spacing: 0.05px;
}

.feature-img {
	width: 66.67%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.feature-img-1 {
	background-color: #7d6f51;
	background-image: url("../img/feature-1.jpg");
}

.feature-img-2 {
	background-color: #8b6351;
	background-image: url("../img/feature-2.jpg");
}
/*
.feature-img-1 img {
	width: 100%;
	vertical-align: middle;
}*/

.sub-feature {
	padding-top: 56px;
	padding-bottom: 56px;
	background-color: #ffffff;
	background-color: bisque;
}

.sub-feature-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.sub-feature-item {
	position: relative;
	box-sizing: border-box;
	padding-top: 106px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 26px;
	width: 33.33%;
	text-align: center;
	background-color: coral;
	outline: 1px solid red;
}

.sub-feature-item::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 50%;
	width: 75px;
	height: 75px;
	background-color: red;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateX(-50%);
}

.house::after {
	background-image: url("../img/icon-1.svg");
}

.food::after {
	background-image: url("../img/icon-2.svg");
}

.souvenirs::after {
	background-image: url("../img/icon-3.svg");
}

.sub-feature-item h3 {
	margin: 0 auto 23px;
	font-size: 21px;
	color: #000000;
}

.sub-feature-item p {
	margin: 0;
}

.feature-3 {
	background-color: #eeeeee;
}

.feature-3-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.feature-3-item {
	box-sizing: border-box;
	padding-top: 48px;
	padding-bottom: 59px;
	padding-left: 47px;
	padding-right: 47px;
	width: 33.33%;
	text-align: center;
	outline: 1px solid red;
}

.feature-3-item h3 {
	margin: 0 auto 23px;
	max-width: 125px;
	font-size: 21px;
	letter-spacing: 0.3px;
	color: #000000;
}

.feature-3-item p {
	margin: 21px auto 0;
	max-width: 270px;
	letter-spacing: 0.05px;
}

.order {
	position: relative;
	padding-top: 52px;
	background-color: #ffffff;
}

.order .wrapper {
	width: 568px;
	margin: 0 auto;
	text-align: center;
}

.order h2 {
	margin: 0;
	margin-bottom: 23px;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.order p {
	margin: 0;
	margin-bottom: 46px;
	line-height: 24px;
}

.btn {
	display: inline-block;
	font: inherit;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background-color: #000000;
	cursor: pointer;
	border: none;
	outline: none;
}

.btn-order {
	box-sizing: border-box;
	padding-top: 31px;
	padding-bottom: 29px;
	width: 100%;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	background-color: #766357;
}

.btn-order:hover {
	background-color: #604e43;
}

.btn-order:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.modal-order {
	display: none;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	box-sizing: border-box;
	width: 568px;
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 55px;
	color: #000000;
	background-color: azure;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	z-index: 2000;
}

.order-form-group {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 29px;
}

.order-form .columns {
	display: flex;
	justify-content: space-between;
}

.order-form-group label {
	display: inline-block;
	width: 24.4%;
	vertical-align: middle;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0.3px;
}

.columns label {
	width: 112px;
}

.columns label[for="child-count"] {
	width: 64px;
}

.order-form-group input[type="text"] {
	box-sizing: border-box;
	height: 38px;
	font: inherit;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
}

.order-form-group .input-date {
	flex-grow: 1;
	padding: 10px 13px;
	padding-right: 38px;
}

.order-form-group .input-count {
	width: 38px;
	padding: 10px 13px;
	text-align: center;
}

.order-form-group input:hover {
	background-color: #ebebeb;
}

.order-form-group input:focus {
	outline: none;
	border: 2px solid #e5e5e5;
}

.side-btn {
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	padding: 0;
	font-size: 24px;
	line-height: 26px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
}

.btn-minus:hover,
.btn-plus:hover {
    color: #000000;
}

.btn-minus:active,
.btn-plus:active {
    color: #81b3d2;
}

.btn-minus:focus,
.btn-plus:focus,
.calendar:focus {
	outline: none;
    border: 2px solid #e5e5e5;
}

.calendar {
	position: absolute;
	top: 50%;
	right: 1px;
	transform: translateY(-50%);
	background-color: transparent;
}

.calendar svg {
	/*background-image: url("../img/calendar.svg");
	background-position: center;
	background-repeat: no-repeat;*/
	vertical-align: top;
	margin-top: 2px;
	opacity: 0.3;
}

.calendar:hover svg {
	opacity: 1;
}

.calendar:active svg {
	fill: #81b3d2;
	opacity: 1;
}

.order-form .btn {
	box-sizing: border-box;
	width: 100%;
	margin-top: 26px;
	padding-top: 17px;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #81b3d2;
}

.order-form .btn:hover {
	background-color: #669ec0;
}

.order-form .btn:active {
	color: rgba(1, 1, 1, 0.3);
	background-color: #5496bd;
}

.card {
	position: relative;
	box-sizing: border-box;
	min-height: 593px;
	width: 100%;
	background-color: #cbdda9;
	background: url("../img/map.jpg") no-repeat center -154px;
}

.main-footer {
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin-top: -120px;
	padding-top: 36px;
	padding-bottom: 36px;
	min-height: 120px;
	background-color: azure;
	opacity: 0.9px;
}

.inner-page .main-footer {
	position: static;
	margin-top: 0;
}

.footer-item {
	width: 33.33%;
	text-align: center;
	background-color: antiquewhite;
	outline: 1px solid red;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.footer-social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-btn {
	position: relative;
	display: inline-block;
	margin: 0 3px;
	width: 46px;
	height: 48px;
	vertical-align: middle;
	background-color: #81b3d2;
	transition: all 0.2s ease;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn:focus {
	outline: none;
	background-color: #669ec0;
}

.social-btn-tw::after,
.social-btn-fb::after,
.social-btn-yt::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 22px;
	height: 22px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-repeat: no-repeat;
	background-position: center;
}

.social-btn-tw::after {
	background-image: url("../img/tw-icon.svg");
}

.social-btn-fb::after {
	background-image: url("../img/fb-icon.svg");
}

.social-btn-yt::after {
	background-image: url("../img/youtube-icon.svg");
}

.social-btn:active::after {
	opacity: 0.3;
}

.copyright {
	color: #000000;
}

.logos-link:hover path,
.logos-link:focus path {
	fill: #81b3d2;
}

.logos-link:active path {
	fill: #bdbbbc;
}

.logos-link {
	outline: none;
}

.copyright svg {
	display: inline-block;
	margin-left: 3.7px;
	vertical-align: middle;
	width: 115px;
	height: 41px;
}

.filters {
	box-sizing: border-box;
	width: 100%;
	padding-top: 28px;
	padding-bottom: 31px;
	padding-left: 6%;
	padding-right: 6%;
	color: #ffffff;
	background-color: #48829a;
	background-image: url("../img/filter-background-photo.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.filter-form {
	display: flex;
}

.filter-form fieldset {
	border: none;
	margin: 0;
	margin-right: 4.1%;
	padding: 0;
	width: 20%;
	outline: 1px solid red;
}

.filter-form fieldset:last-of-type {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: 0;
	width: 30%;
}

.filter-title {
	margin-bottom: 24px;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.15px;
}

.filter-cost .filter-title {
	margin-bottom: 9px;
	letter-spacing: 0.15px;
}

.filter-infrastructure ul,
.filter-house ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-option {
	margin-bottom: 25px;
	padding-left: 39px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-option label {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-input + label::before {
	content: "";
	position: absolute;
	transition: all 0.1s ease;
}

.filter-input-checkbox + label::before {
	left: -39px;
	top: 25%;
	margin-top: -8px;
	min-width: 23px;
	min-height: 24px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.filter-input-checkbox:checked + label::before {
	min-width: 27px;
	min-height: 24px;
	background-image: url("../img/checkbox-on.svg");
}
/*
.filter-grid label:hover,
.filter-features label:hover {
	color: #000000;
}*/
/*
.filter-input:focus + label::before,
.filter-input:hover + label::before {
	opacity: 1;
}*/

.filter-input:disabled + label::before {
	opacity: 0.1;
}
/*
.filter-input:disabled + label {
	opacity: 0.3;
}

.filter-input:disabled + label:hover {
	color: #283136;
}*/

.output-cost {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 4.5px 0;
	margin-bottom: 20px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.output-cost::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1px;
	margin-top: -11px;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.output-cost label {
	box-sizing: border-box;
	width: 50%;
	padding-left: 15%;
	text-align: center;
	outline: 1px solid red;
}

.output-cost label:nth-child(2) {
	padding-left: 11%;
}

.output-cost input {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	ppadding: 8px 15px;
	mmargin-left: 8px;
	font: inherit;
	color: #ffffff;
	background-color: coral;
	border: none;
}

.output-cost input:focus {
	outline: 2px solid #ababab;
}

/*
.filter-cost-slider {
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 14px;
	border-radius: 3px;
	bbackground-color: #eeeeee;
}*/

.filter-scale {
	position: relative;
	ttop: 50%;
	lleft: 18px;
	mmargin-top: -1px;
	width: 221px;
	width: 100%;
	height: 2px;
	margin-bottom: 32px;
	
	background-color: rgba(225, 255, 255, 0.3);
	z-index: 0;
}

.scale-active {
	position: absolute;
	left: 3.2%;
	right: 17.3%;
	top: 0;
	height: 2px;
	background-color: #ffffff;
	z-index: 1;
}

.filter-thumb {
	position: absolute;
	padding: 0;
	box-sizing: border-box;
	height: 20px;
	width: 20px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(1, 1, 1, 0.2);
	z-index: 2;
	cursor: pointer;
}

.filter-thumb-min {
	top: -8.6px;
	left: 0;
}

.filter-thumb-max {
	top: -8.6px;
	left: 79.5%;
}

.filter-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 2px #ababab;
}

.btn-filter {
	box-sizing: border-box;
	display: block;
	margin-left: 26.5%;
	width: 137px;
	padding: 5.5px 10px;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.btn-filter:hover {
	color: #000000;
	background-color: #ffffff;
}

.tab-user .btn-filter:focus {
	box-shadow: 0 0 0 3px #fff,
	0 0 6px 6px #000000;
}

.catalog-sort {
	background-color: #ffffff;
}

.catalog-sort__list {
	display: flex;
	align-items: baseline;
	padding-top: 31px;
	padding-bottom: 25px;
	padding-left: 6%;
	padding-right: 6%;
	color: #000000;
	
	background-color: bisque;
}

.catalog-sort__count {
	margin-right: 47px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.catalog-sort__item {
	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
}
/*
.catalog-column-right {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	align-items: center;
	width: 63%;
}

.sort-filter-tittle {
	vertical-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}*/

.catalog-sort__type-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-sort__type-list li {
	margin-right: 33px;
}

.catalog-sort__type-list li:last-child {
	margin-right: 0;
}

.catalog-sort__type-list a {
	display: inline-block;
	padding-bottom: 1px;
	font-size: 12px;
	line-height: 11px;
	vertical-align: middle;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	opacity: 0.3;
}

.catalog-sort__type-list a:hover {
	color: #81b3d2;
	opacity: 1;
}

.catalog-sort__type-list a:active {
	padding-bottom: 2px;
	color: #000000;
	border-bottom: none;
	opacity: 1;
}

a.sort-type-active {
	padding-bottom: 2px;
	color: #81b3d2;
	border-bottom: none;
	opacity: 1;
}

.catalog-sort-controls {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	ppadding-top: 1px;
	-webkit-box-align: center;
	align-items: center;
	width: 35px;
	margin-left: auto;
	font-size: 0;
}

.catalog-sort-controls .sort-icon {
	display: inline-block;
	min-width: 11px;
	min-height: 10px;
	vertical-align: middle;
}

.sort-icon path {
	fill: #cacaca;
}

.sort-icon:hover path {
	fill: #231f20;
}

.sort-icon:active path,
.sort-icon-active path {
	fill: #81b3d2;
}

.hotels-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotel-item {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 6%;
	padding-right: 6%;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-item:first-child {
	border-top: 1px solid #e5e5e5;
}

.hotel-picture {
	width: 135px;
	margin-right: 30px;
}

.hotel-picture img {
	display: block;
	width: 135px;
	height: 90px;
}

.hotel-content {
	width: 340px;
}

.hotel-content .wrapper {
	display: flex;
}

.hotel-column {
	margin-right: 7px;
	outline: 1px solid red;
}

.hotel-column:last-child {
	margin-right: 0;
}

.hotel-tittle {
	margin: 0;
	margin-top: -4px;
	margin-bottom: 6px;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.hotel-tittle:hover {
	color: #81b3d2;
}

.hotel-tittle:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
	display: block;
	margin-bottom: 14px;
	font-weight: 400;
}

.hotel-content .btn {
	display: block;
	font-weight: bold;
}

.hotel-info {
	padding: 3px 16px;
	background-color: #81b3d2;
}

.hotel-info:hover {
	background-color: #669ec0;
}

.hotel-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-buy {
	padding: 3px 17px;
	background-color: #766357;
}

.hotel-buy:hover {
	background-color: #604e43;
}

.hotel-buy:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.hotel-rate {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: auto;
	max-width: 154px;
}

.hotel-stars {
	display: flex;
}

.stars {
	width: 18px;
	height: 17px;
	margin-top: -1px;
	margin-right: 6px;
	background-image: url("../img/star.svg");
	background-position: center;
	background-repeat: no-repeat;
}
.stars:last-child {
	margin-right: 0;
}

.hotel-raiting {
	padding: 3px 14px;
	color: #666666;
	background-color: #f2f2f2;
}